
{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}



    <div class="container">

        <section id="galeria">
            <div class="text-center  pt-5">

                <h1>Conoce nuestros artistas</h1>
                <hr style="width: 490px;">
                <p>Conoce a cada uno de los miembro del equipo Ground-zero su trabajo y especializacion en el area </p>
    
    
                <div class="row"><!--start row-->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/galeria11.jpg' %}" alt="Galeria Imagenes">
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/geleria1.jpg' %} " alt="Galeria Imagenes">
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/geleria2.jpg' %} " alt="Galeria Imagenes">
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/galeria3.jpg' %} " alt="">
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/galeria4.jpg'%} " alt="Galeria Imagenes">
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/galeria12.jpg' %}  " alt="Galeria Imagenes">
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/galeria6.jpg' %} " alt="Galeria Imagenes">
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/galeria7.jpg' %} " alt="Galeria Imagenes">
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/galeria9.jpg ' %} " alt="Galeria Imagenes">
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static '/app/images/img_1.jpg' %} " alt="Galeria Imagenes">
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h1>Equipo y responsabolidad  de trabajo</h1>

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt consequuntur excepturi est, quam eos fugiat dolor, impedit cupiditate aspernatur perspiciatis dolorum fugit necessitatibus! Molestias minima rerum omnis corporis necessitatibus deleniti.</p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h1> servicio de  buena calidad </h1>
                        <br><br>
                        
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt consequuntur excepturi est, quam eos fugiat dolor, impedit cupiditate aspernatur perspiciatis dolorum fugit necessitatibus! Molestias minima rerum omnis corporis necessitatibus deleniti.</p>
                    </div>
                    
                    


    
                </div><!--End row-->
    
            </div>
    
    
    



        </section>
       

    </div>


    {% endblock %}
    
