.header-content-left img, .header-content-rigth {
    width: 90%;
    padding: 1px;
    border: 8px solid transparent;
    background: linear-gradient(90deg,#f7d088,#f5a0f5);
    
}

.backgroun-box,.background-box-2{
background-color: #c9e8f7;
padding: 50px 0 30px 0 ;
text-align: center;
margin-top: 40px;
}

